body {
    background-color: rgb(111, 111, 111);
  }
  
  p {
    margin: 5px 5px 5px 100px;
    text-align: justify;
    text-indent: 30px;
    line-height: 110%;
  }
  
  #tartalom {
    margin-bottom: 20px;
    width: 800px;
    padding: 40px;
    margin-left: auto;
    margin-top: 40px;
    margin-right: auto;
  }
  
  li {
    margin-left: 100px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }